{% extends "syllabooster/base.html" %}

{% block title %}Unit List{% endblock %}

{% block content %}
    <div class="section">
        <div class="columns">
            <div class="column">
                {% for unit in unit_list %}
                    <a class="button is-success is-fullwidth" href={% url 'syllabooster:unit' course.id unit.id %}>
                        {{ unit.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
