{% extends "syllabooster/base.html" %}

{% block title %}Unit Contents{% endblock %}

{% block content %}
    <header class="fill fixed top">
        <nav>
            <a class="button circle transparent"
               href="{% url 'syllabooster:courselist' %}">
                <i>home</i>
            </a>
            <a class="max center-align "
               href="{% url 'syllabooster:currentunit' course.id %}">
                <div class="max">
                <h7 class="small">{{ unit.title }}</h7>
                <div>{{ course.name }}</div>
                </div>
                <span id="current-position"
                      data-current-position="{{ course.current_position }}">
                </span>
            </a>
            <a class="button circle transparent"
               href="{% url 'syllabooster:unitlist' course.id %}">
                <i>list</i>
            </a>
        </nav>
    </header>

        <div class="list max no-space no-padding">
            {% for point in object_list %}
                <li>
                    <div class="max">
                        <header id="caret-{{ point.id }}" class="{{ point.state.css_class }}">
                            <nav>
                                {% if point.point.point_type.name == "exercise" %}
                                    <i class="{{ point.point.point_type.icon }}"></i>
                                {% else %}
                                    <div class="badge none">{{ point.type_relative_position }}</div>
                                {% endif %}
                                <div class="coursepointheadline max"
                                     data-url="{% url 'syllabooster:coursepointdetail' point.pk %}">
                                    <p class="left-align responsive">
                                        {{ point.point.headline }}
                                    </p>
                                </div>
                                <button id="button-{{ point.id }}"
                                        class="coursepointbutton square  responsive {{ point.state.css_class }}"
                                        data-point-id="{{ point.id }}"
                                        data-position="{{ point.position }}"
                                        data-css-classes-str="{{ point.state.css_class }}">
                                    <i>check_circle</i>
                                </button>
                            </nav>
                        </header>
                    </div>
                </li>
            {% endfor %}
        </div>

    <script type="text/javascript">
     const currentPositionLabel = document.getElementById("current-position");
     const currentPosition = currentPositionLabel.dataset.currentPosition;
     const elementToScrollTo = document.querySelector(`[data-position="${currentPosition}"]`);
     console.log(elementToScrollTo);
     if (elementToScrollTo) {
         elementToScrollTo.scrollIntoView({
             behavior: "smooth",
             block: "center"
         });
     }
     document.querySelectorAll(".coursepointheadline").forEach(headline => {
         const url = headline.dataset.url;
         headline.addEventListener("click", function () {
             window.location.href = url;
         });
     });
     document.querySelectorAll(".coursepointbutton").forEach(button => {
         const coursepointId = button.dataset.pointId;
         const caret = document.getElementById(`caret-${coursepointId}`);
         button.addEventListener("click", function (event) {
             const clickedButton = this;
             fetch("{% url 'syllabooster:cyclestate' %}", {
                 method: "POST",
                 headers: {
                     "Content-type": "application/json",
                     "X-CSRFToken": "{{ csrf_token }}"
                 },
                 body: JSON.stringify({
                     coursepointId: coursepointId
                 })
             }).then(response => {
                 if (!response.ok) {
                     alert("Error cycling status");
                 }
                 return response.json();
             }).then(data => {
                 const cssClassesStr = clickedButton.dataset.cssClassesStr ? clickedButton.dataset.cssClassesStr : "";
                 const cssClasses = cssClassesStr.split(" ").filter(c => c.trim());
                 cssClasses.forEach(cssClass => {
                     clickedButton.classList.remove(cssClass);
                     caret.classList.remove(cssClass);
                 });
                 data.cssClassesStr.split(" ").filter(c => c.trim()).forEach(cssClass => {
                     clickedButton.classList.add(cssClass);
                     caret.classList.add(cssClass);
                 });
                 clickedButton.dataset.cssClassesStr = data.cssClassesStr;
                 currentPositionLabel.innerHTML = `(${data.currentPosition})`;
             }).catch(error => {
                 alert("Error cycling status: " + error);
             });
         });
     });
    </script>


{% endblock %}
